body{
    margin: 0;

    font-family: Roboto, sans-serif;
}

*{
    scroll-behavior: smooth;
}
.container{
    width: 75%;
    margin: auto;
}

header{
    background: linear-gradient(90deg, rgba(33,13,59,1) 27%, rgba(109,31,101,1) 71%, rgba(153,61,113,1) 100%);
}

.logo-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
}

.logo-text{
    font-size: 1.7em;
    text-transform: uppercase;
    color: white;
}

.navigation{
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.navigation li{
    list-style-type: none;
}

.nav-item{
    font-size: 1.2em;
    text-decoration: none;
    color: white;
}

.chosen,
.nav-item:hover{
    border-bottom: 2px white solid;

    opacity: 70%;
}

/*end of header styling*/

/*main{
    background-image: url(../img/home/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}*/

.content{
    padding-top: 6.25em;
    padding-bottom: 8.8em;
}

.padding-7vw{
    padding-left: 7vw;
}
h1{
    width: 68%;
    margin: 0;
    
    font-weight: 500;
    font-size: 3.625em;
    line-height: 125.69%;
    color: #2E164E; 
}

main p{
    margin-top: 1.7em;

    font-style: italic;
    font-size: 1.875em;
    font-weight: 300;
    color: white;
    line-height: 99.69%;
}

.main-button{
    display: flex;
    justify-content: center;
}

main a, 
.services a,
.scandinavia a{
    margin-top: 1em;
    padding: 0.5em 1.9em ;
    
    text-decoration: none;
    font-weight: 500;
    font-size: 1.875em;
    color: white;

    background: linear-gradient(100.71deg, rgba(52, 14, 58, 0.81) 30.79%, rgba(63, 17, 50, 0.81) 64.73%);
    border-radius: 53px;
}
/* end of main */


.about-content{
    display: flex;
    align-items: center;
}

h2{
    font-size: 2.5em;
    color: #2E164E;
}

p{
    padding-right: 9%;

    font-size:1.6875em;
    font-weight: 300;
    line-height: 125.69%;
    color: #2E164E;
}

.about a{
    text-decoration: none;
    font-style: italic;
    font-weight: 500;
    color: #F27989;
}



.line{
    width:6.900vw;
    height: 0.400vw;
    margin-bottom: 2vw;

    background-color: #F27989;
    border-radius: 0.200vw;
}

.about-line-center{
    display: flex;
    flex-direction: column;
}

.about-img{
    position: relative;
    margin-top: 15%;
}

.about-right{
    position: relative;
}

#rectangle1{
    position: absolute;
    width: 29.800vw;
    height: 22.867vw;
    left: 100px;
    top: 0;

    background: rgba(174, 21, 104, 0.76);
}
#rectangle2{
    position: absolute;
    width: 18.867vw;
    height: 23.533vw;
    left: 340px;
    top: 120px;

    background: rgba(242, 121, 137, 0.7);
}
/* end of about */

.services{
    background: linear-gradient(111.25deg, #2E154E 13.8%, #6D1F65 51.99%, #F27989 90.18%);
}

.services-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services h2{
    color: white;
}

.services h4{
    font-style: italic;
    font-weight: 500;
    font-size:1.6875em;
    line-height: 125.69%;
    text-align: center;
    color: #F98F9D;
}

.services p{
    font-weight: 300;
    font-size: 1.5em;
    line-height: 125.69%;
    text-align: center;
    color: #FFFFFF;
}

.items{
    display: flex;
    margin-top: 2vw;
    margin-bottom: 3%;
    justify-content: space-between;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 27%;
}

.item h4{
    margin-bottom: 0;
}

.services a,
.scandinavia a{
    margin-bottom: 0;

    color: #2E164E;

    background: #FFFFFF;

    opacity: 80%;
}

/* end of services */

.invest{
    background-image: url(../img/home/ukraine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.invest-content{
    padding-top: 15%;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align:  center;
}

.invest h1,
.invest p{
    width: 100%;
    margin: 0;
}

.invest h1{
    margin-bottom: 5%;

    font-weight: bold;
    font-size: 3.667vw;
    line-height: 125.69%;
    color: #4E1642;
}

.invest p{
    font-weight: normal;
    font-size: 2.333vw;
    line-height: 125.69%;
    text-align: center;
    color: #6D1F65;
}
/* end of invest */

.why-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.why-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3%;
}

.why-item:last-child{
    margin-bottom: 0;
}
.why-text{
    width: 60%;
}

.why h4{
    margin-bottom: 1%;

    font-style: italic;
    font-weight: 500;
    font-size: 1.75em;
    line-height: 125.69%;
    color: #BDBDBD;
}

.why p{
    margin-top: 0;
    padding: 0;

    font-weight: 300;
    font-size: 1.375em;
    line-height: 125.69%;
    color: #2E164E;
}

.odd{
    text-align: left;
}

.even{
    text-align: right;
}

/*end od why*/

.scandinavia{
    background-image: url(../img/home/scandinavia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.scandinavia-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 15%;
    padding-bottom: 15%;

    text-align: center;
    color: white;
}

.scandinavia h2{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 3.667vw;
    color: white;
}

.scandinavia h3{
    font-weight: normal;
    font-size: 2.333vw;
}

.scandinavia .button{
    margin-top: 2%;
}

/*end of scandinavia*/

footer{
    padding-top: 1%;
    padding-bottom: .5%;

    background: linear-gradient(90.64deg, #F27989 14.31%, #6D1F65 53.92%, #2E164E 104.86%);
}

footer p{
    color: white;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.left-footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 55%;
}

/*end of footer*/
@media screen and (max-width: 1200px) { 
    .why h4{
        font-size: 1em;
    }
    .why p{
        font-size: 0.7em;
    }
    .why img{
        width: 30%;
    }
    /* end of why */
    .about-content{
        display: flex;
        flex-direction: column; 
    }

    .about-left{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
        text-align: center;
    }

    .about-line-center {
        align-items: center;
    }

    .about-left p{
        padding: 0;
    }
    #rectangle1{
        width: 38vw;
        height: 27vw;

    }
    #rectangle2{
        width: 22vw;
        height: 30vw;
    }
}

@media screen and (max-width: 1000px) { 
    .logo-navigation, .footer-content{
        display: flex;
        align-items: stretch;
        flex-direction: column;
    }
    .navigation{
        padding: 0;
        margin-left: 0;
        width: 100%;
        margin-bottom: 2.5vh;
    }

    .navigation li{
        margin-right: 2vw;
    }

    /*end of header styling*/

    .content{
        padding-top: 6em;
        padding-bottom: 8em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        text-align: center;
    }

    .padding-7vw{
        padding-left: 2%;
    }

    h1{
        width: 90%;
        font-size: 3em;
    }

    main p{
        font-size: 1.6em;
    }
    
    main a, .scandinavia a{
        font-size: 1.4em;
    }
    /* end of main */

    .about-line-center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    h2{
        font-size: 1.7em;
    }

    p{
        padding-right: 0;;
        font-size: 1.2em;
    }

    .about-img{
        width: 80%;
    }

    #rectangle1{
        width: 40vw;
        height: 25vw;

    }
    #rectangle2{
        width: 22vw;
        height: 28vw;
    }
    /* end of about */

    .items{
        flex-direction: column;
        align-items: center;
        margin-top: 4%;
    }

    .item{
        margin-bottom: 5%;
        width: 100%;
    }

    .item h4{
        font-size: 1.5em;
    }

    .item p{
        font-size: 1.2em;
   }

   .services a{
    font-size: 1.4em;
   }

   .item-img{
       width: 70%;
   }
   /* end of services */

   .invest h1{
       font-size: 2em;
   }

   .invest p{
        font-size: 1.5em;
    }
    /* end of invest */

    .scandinavia h2{
        font-size: 2em;
    }
    .scandinavia h3{
        font-size: 1.3em;
    }

    .scandinavia .button{
        margin-top: 3%;
    }

    /*end of scandinavia*/
    
    .left-footer{
        width: 100%;
        justify-content: space-between;
    }

    .left-footer p{
        font-size: 1em;
    }

    .left-footer img{
        width: 70%;
    }

    /*end of footer*/
}

@media screen and (max-width: 850px) { 
    .about-right{
        margin-top: 3%;
    }

    .about-img{
        margin-top: -5%;
        width: 70%;
    }
    #rectangle1,
    #rectangle2{
        display: none;
    }

    .mouse-paralax-item, .mouse-paralax-item-{
        width: 60%;
    }
}
@media screen and (max-width: 420px) { 
    .navigation{
        display: flex;
        flex-direction: column;
    }
    .navigation li{
        margin-bottom: 1.5vh;
    }
    /*end of header styling*/

    .content{
        padding-top: 4em;
        padding-bottom: 6em;
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    h1{
        font-size: 1.8em;
    }

    main p{
        font-size: 1.2em;
    }
    /*end of main*/

    .why-item{
        flex-direction: column;
    }

    .why-text{
        width: 100%;
        margin-bottom: 2%;
        
        text-align: center;
    }

    .why-item img{
        width: 50%;
    }

    .even,
    .why-item:last-child{
        flex-direction: column-reverse;
    }

     /*end of why*/

}

.mouse-paralax{
    position: relative;
    overflow: hidden;
}

.mouse-paralax-item,
.mouse-paralax-item-{
    position: absolute;
    z-index: -1;
}

.services-item{
    z-index: 0;
}

#why-1{
    top: 8%;
    right: 80%;
}

#why-2{
    top: 30%;
    left: 70%;
}

#why-3{
    top: 70%;
    right: 70%;   
}


.custom-button{
    border-color: #fff;
 
    box-shadow: 0 0 40px 40px #fff inset, 0 0 0 0 #fff;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.custom-button:hover {
    box-shadow: 0 0 10px 0 #fff inset, 0 0 10px 4px #fff;
  }


.magenta-button{
    border-color: #6D1F65;
    box-shadow: 0 0 40px 40px #340E3A inset, 0 0 0 0 #6D1F65;

    opacity: 81%;
}

.magenta-button:hover {
    box-shadow: 0 0 10px 0 #6D1F65 inset, 0 0 10px 4px #6D1F65;
    opacity: 100%;
  }


button:hover{
    box-shadow: 0 0 10px 0 #F27989 inset, 0 0 10px 4px #F27989;
}


.slider{
    max-width: 100%;
    position: relative;
    
    margin: auto;
    overflow: hidden;

    transition:2s all;
}

.absolute-main{
    position: absolute;
    top: 15%;
    left: 10%;
}
.slider .slider-item img {
    object-fit: cover;
    overflow: hidden;
    height: 800px;
}


.slider .previous, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;

    opacity: 0.7;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slider .previous:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

